# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Temporary and local scratch files
project/temp/*
!project/temp/.gitkeep
temp/
*.log

# Environment variables & secrets
.env
.env.*

# OS and Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
